<!DOCTYPE html>
<html lang="en">
    <body>
        <script src="/js/action.js"></script>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>SEER Database</title>
        </head>
        <h1>SEER Database</h1>

        <nav>
            <ul>
                <li><a href="/html/submitter.html">Submit</a></li>
                <li><a href="/html/moderator.html">Moderator</a></li>
                <li><a href="/html/analyst.html">Analyst</a></li>
            </ul>
        </nav>

        <label for="description">Description </label>
        <input type="text" placeholder="description of the search " id="description" name="description"><br>

        <label for="date">Date Range from </label>
        <input type="date" placeholder="Any date " id="startdate" name="startdate"> to
        <input type="date" placeholder="now " id="enddate" name="enddate"><br>

        <button type="button" id="addQueryBttn" onClick="selectQuery()">Add Query</button>
        <button type="button" id="queryBttn" onclick="getQuery()">Query</button>
        <p id="queryVal"></p>
        <p id="results"></p>
    </body>
</html>