<!DOCTYPE html>
<html lang="en">
    <body>
        <script src="/action.js"></script>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>SEER Database</title>
        </head>
        <h1>SEER Database</h1>

        <label for="description">Description </label>
        <input type="text" placeholder="description of the search " id="description" name="description"><br>

        <label for="date">Date Range from </label>
        <input type="date" placeholder="Any date " id="startdate" name="startdate"> to
        <input type="date" placeholder="now " id="enddate" name="enddate"><br>

        If
        <select id="searchFields" onchange="setValueField()">
            <option value="fieldName">name of Field</option>
            <option value="1">Article title</option>
            <option value="2">Article source</option>
            <option value="3">Author</option>
            <option value="4">SE Method</option>
            <option value="5">SE Methodology</option>
        </select>

        <select id="operator">
            <option value="operator">contains</option>
            <option value="doesnotcontain">does not contain</option>
            <option value="beginswith">begins with</option>
            <option value="endswith">ends with</option>
            <option value="isequalto">is equal to</option>
            <option value="islessthan">is less than</option>
            <option value="islessthanorequalto">is less than or equal to</option>
            <option value="ismorethan">is more than</option>
            <option value="ismorethanorequalto">is more than or equal to</option>
        </select> 
        <span id="value"></span><br>
        <button type="button" id="queryBttn" onclick="getQuery()">Query</button>
        <p id="queryVal"></p>
    </body>
</html>